h2, a {
    color: #f8f8f2;
    font-size: 2.8vw;
    font-family: 'Dosis';
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    color: #8be9fd;
}

a:hover {
    text-decoration: underline;
}
//desktop
@media (max-width: 1200px) {
    h2, a {
        font-size: 4vw;
    }
}
//laptop
@media (max-width: 1024px) {
    h2, a {
        font-size: 5vw;
    }
}
//iPad + mobile
@media (max-width: 768px) {
    h2, a {
        font-size: 6.5vw;
    }
}